@page "/join-match"
@using System.Security.Claims
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Nav


<AuthorizeView>
    <Authorized Context="authContext">
        <div class="d-flex justify-content-center mt-4">
            <div class="text-center">
                <h3>Paste invite code here</h3>
                <input type="text" id="inviteCode" class="form-control mx-auto mt-1 text-center" style="width: 300px;" @bind="_inviteCode"/>
                <div>
                    @if (!string.IsNullOrEmpty(_errorLabel))
                    {
                        <label style="color: red">
                            @_errorLabel
                        </label>
                    }
                </div>
                <button disabled="@_isDisabled" class="btn btn-outline-secondary mt-3" @onclick="JoinWithInviteCode">Join</button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>ACCESS DENIED: You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string _inviteCode = String.Empty;
    private string _errorLabel = String.Empty;
    private bool _isDisabled;
    private string? _username;
    private string _userIdAsString;
    
    [CascadingParameter] public Task<AuthenticationState>? State { get; set; }
    
    private void JoinWithInviteCode()
    {
        if (!string.IsNullOrWhiteSpace(_inviteCode))
        {
            _errorLabel = $"Trying to join with invite code: {_inviteCode}";
            _isDisabled = true;
            Nav.NavigateTo($"/game-room/{_inviteCode}");
        }
        else
        {
            _errorLabel = "Please paste a valid invite code and try again! :)";
            Console.WriteLine("[ JOIN MATCH ] Join button pressed! FAIL (PLACEHOLDER)");
        }
    }



    
    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal principal = authenticationState.User;
        if (principal.Identity is null || !principal.Identity.IsAuthenticated)
        {
            // the user is not logged in
            return;
        }
        _username = principal.Identity.Name;
        IEnumerable<Claim> claims = principal.Claims;
        _userIdAsString = claims.Single(c => c.Type == ClaimTypes.NameIdentifier).Value;
        
        // handling invalid invite code
        var uri = Nav.ToAbsoluteUri(Nav.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("error", out var error))
        {
            if (error == "invalid-invite")
                _errorLabel = "Invalid or expired invite code!";

            if (error == "join-failed")
                _errorLabel = "Could not join the game! Please try again!";
        }
    }
}