@page "/login"
@using BlazorApp.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavMgr

<AuthorizeView>
    <Authorized>
        <h3>ACCESS DENIED: You are already logged in!</h3>
    </Authorized>
    <NotAuthorized>
        <div>
            <h3>Please login</h3>
        </div>
        <div>
            <label>Username:</label>
        </div>
        <div>
            <input type="text" @bind="username"/>
        </div>    
        <div>
            <label>Password:</label>
        </div>
        <div>
            <input type="password" @bind="password"/>
        </div>
        <div>
            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <label style="color: red">
                    @errorLabel
                </label>
            }
        </div>
        <div>
            <button @onclick="LoginAsync">Log in</button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    
    private string username;
    private string password;
    private string errorLabel;

    private async Task LoginAsync()
    {
        Console.WriteLine("Login button clicked");
        errorLabel = "";
        try
        {
            await ((SimpleAuthProvider)AuthProvider).Login(username, password);
            NavMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}