@page "/login"
@using BlazorApp.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavMgr

<AuthorizeView>
    <Authorized>
        <h3>ACCESS DENIED: You are already logged in!</h3>
    </Authorized>
    <NotAuthorized>
        <div>
            <h3>Please login</h3>
        </div>
        <div>
            <label>Email:</label>
        </div>
        <div>
            <input type="email" @bind="_email" placeholder="example@gmail.com"/>
        </div>    
        <div>
            <label>Password:</label>
        </div>
        <div>
            <input type="password" @bind="_password" placeholder="Password"/>
        </div>
        <div>
            @if (!string.IsNullOrEmpty(_errorLabel))
            {
                <label style="color: red">
                    @_errorLabel
                </label>
            }
        </div>
        <div>
            <button @onclick="LoginAsync">Log in</button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    
    private string? _email;
    private string? _password;
    private string? _errorLabel = "";

    private async Task LoginAsync()
    {
        if (!string.IsNullOrWhiteSpace(_email) && !string.IsNullOrWhiteSpace(_password))
        {
            try
            {
                await ((SimpleAuthProvider)AuthProvider).LoginAsync(_email, _password);
                NavMgr.NavigateTo("/");
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                _errorLabel = $"Could not login! Error: {e.Message}";
            }    
        }
        else
        {
            _errorLabel = "Please type in your email and password! The fields can't be empty!";
        }
        
    }
}