@page "/registration"
@using BlazorApp.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavMgr

<AuthorizeView>
    <Authorized>
        <h3>ACCESS DENIED: You are already logged in!</h3>
    </Authorized>
    <NotAuthorized>
        <h3>Please register!</h3>
        <div>
            <label>Username:</label>
        </div>
        <div>
            <input type="text" @bind="_username" placeholder="Username"/>
        </div>
        <div>
            <label>New password:</label>
        </div>
        <div>
            <input type="password" @bind="_password1" placeholder="Password"/>
        </div>
        <div>
            <label>Repeat password:</label>
        </div>
        <div>
            <input type="password" @bind="_password2" placeholder="Password again"/>
        </div>
        <div>
            <label>E-mail:</label>
        </div>
        <div>
            <input type="email" @bind="_email1" placeholder="example@gmail.com"/>
        </div>
        <div>
            <label>Repeat e-mail:</label>
        </div>
        <div>
            <input type="email" @bind="_email2" placeholder="example@gmail.com"/>
        </div>
        <div>
            @if (!string.IsNullOrEmpty(_errorLabel))
            {
                <label style="color: red">
                    @_errorLabel
                </label>
            }
            @if (!string.IsNullOrEmpty(_successLabel))
            {
                <label style="color: green">
                    @_successLabel
                </label>
            }
        </div>
        <div>
            <button disabled="@_isDisabled" @onclick="RegisterAsync">Sign up!</button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string _username = String.Empty;
    private string _password1 = String.Empty;
    private string _password2 = String.Empty;
    private string _email1 = String.Empty;
    private string _email2 = String.Empty;
    private string _errorLabel = String.Empty;
    private string _successLabel = String.Empty;
    private bool _isDisabled = false;
    
    bool IsValidEmail(string email)
    {
        if (string.IsNullOrWhiteSpace(email))
            return false;

        return System.Text.RegularExpressions.Regex
            .IsMatch(email, @"^[^@\s]+@[^@\s]+\.[^@\s]+$");
    }
    
    bool IsValidPassword(string password)
    {
        return password.Length >= 8;
    }

    bool IsValidUsername(string username)
    {
        return username.Length >= 5;
    }

    private async Task RegisterAsync()
    {
        // Console.WriteLine("SignUp button clicked");
        _errorLabel = "";
        
        if (!IsValidPassword(_password1))
        {
            _errorLabel = "Password must be at least 8 characters long!";
            return;
        }

        if (!IsValidEmail(_email1) || !IsValidEmail(_email2))
        {
            _errorLabel = "Invalid email format!";
            return;
        }
        
        if (!IsValidUsername(_username))
        {
            _errorLabel = "Username must be at least 5 characters long!";
            return;
        }
        
        if (!_password1.Equals(_password2))
        {
            _errorLabel = "Passwords don't match! Try again.";
            _password1 = "";
            _password2 = "";
            return;
        }

        if (!_email1.Equals(_email2))
        {
            _errorLabel = "E-mail addresses don't match! Try again.";
            _email1 = "";
            _email2 = "";
            return;
        }
        
        try
        {
            _isDisabled = true;
            _successLabel = "Successful registration! Redirecting to Login page...";
            await Task.Delay(3000);

            await ((SimpleAuthProvider)AuthProvider).Register(_email1, _username, _password1);

            NavMgr.NavigateTo("/login");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _errorLabel = $"Error: {e.Message}";
            _isDisabled = false;
        }
    }
}