@using BlazorApp.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tic-Tac-Toe Game</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Profile">
                        <span>Profile</span>
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Leaderboard">
                        <span>Leaderboard</span>
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <button class="nav-link btn btn-link" @onclick="Logout">
                        <span>Logout</span>
                    </button>
                </div>
            </Authorized>
            
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Login">
                        <span>Login</span>
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Registration">
                        <span>Register</span>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private async Task Logout()
    {
        await ((SimpleAuthProvider)AuthProvider).LogoutAsync();      // Clear session and notify Blazor
        Navigation.NavigateTo("/");       // Redirect to home or login page
    }
}
