@page "/signup"
@rendermode InteractiveServer
@inject HttpClient Http

<input @bind="_newUsername"/>
<input @bind="_newPassword"/>
<button @onclick="AddUser">Sign up</button>

@code
{
    string _newUsername = "";
    string _newPassword = "";

    async Task AddUser()
    {
        if (!string.IsNullOrWhiteSpace(_newUsername) && !string.IsNullOrWhiteSpace(_newPassword))
        {
            
            var user = new User
            {
                Username = _newUsername,
                Password = _newPassword
            };
            
            
            // call REST endpoint here
            var response = await Http.PostAsJsonAsync("https://localhost:5001/api/users", user); // change port according to business logic server
            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine("User created successfully!");
            }
            else
            {
                Console.WriteLine("Error while creating user!");
            }
        }
    }
}