@page "/leaderboard"
@using System.Security.Claims
@using ApiContracts
@using BlazorApp.Services

@inject IUserService UserService

<AuthorizeView>
    <Authorized>
        <h3>Leaderboard</h3>

        @if (_list == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Rank #</th>
                    <th scope="col">Username</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var (user, index) in _list.Select((value, i) => (value, i)))
                {
                    <tr>
                        <td>@(index + 1)</td>
                        <td>@user.Username</td>
                        <td>@user.Points</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <p>ACCESS DENIED: You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    
    private List<UserDto>? _list;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal principal = authenticationState.User;
        if (principal.Identity is null || !principal.Identity.IsAuthenticated)
        {
            // the user is not logged in
            return;
        }

        string? username = principal.Identity.Name;
        IEnumerable<Claim> claims = principal.Claims;
        string userIdAsString = claims.Single(c => c.Type == ClaimTypes.NameIdentifier).Value;
        int userId = int.Parse(userIdAsString);

        _list = await UserService.GetTop10UsersAsync();
    }
}